FLASK_SECRET_KEY=change-me
RMS_API_BASE_URL=https://rmsv2.dev.tech.o2.pro
RMS_API_BASE_URL_DEV=https://rmsv2.dev.tech.o2.pro
RMS_API_BASE_URL_PROD=https://rms2.prod.o2.pro/
RMS_API_TIMEOUT_SECONDS=20
DEV_AUTH_STUB=true
KEYCLOAK_SERVER_URL=http://localhost:8081
KEYCLOAK_REALM=pimcore-realm
KEYCLOAK_CLIENT_ID=rms-client
KEYCLOAK_REDIRECT_URI=http://localhost:5001/callback
